#body{
  background-color: #242322;
}

.container-fluid{
  width: 100%;
}
.row{
  margin: 0;
  padding: 0;
  width: 100%;
}
/* Pantalla de inicio */
#title1{
  color: #FE2E2E;
  text-align: center;
  margin-top: 15% ;
  font-size: 5em;
  font-family: 'Leckerli One', cursive;
}
#loading{
  text-align: center;
  width: 12em;
}
#loading2{
  width: 0.8em;
  padding-bottom: 0.3em;
}
#contLogo{
  text-align: center;
}


@media (max-width: 575px) {
  #title1{
    font-size: 3.5em;
    margin-top:40%;
    text-align: center;
  }
}

/*Pantalla principal de app*/
#pantallaApp{
  display: none;
  
}

/*Titulo de pagina*/
#title2{
  color: #FE2E2E;
  text-align: center;
  font-family: 'Leckerli One', cursive;
  font-size: 3.5em;
  margin-top: 1em;
}

#subtitle{
  color:sandybrown;
  text-align: center;
  margin: 1em;
  font-weight: 300;
}

/*Input de busqueda*/
#searchBox{
  width: 15em;
  position: center;
}


#map{
  width:60vw; 
  height: 35vw;
  margin-top:0.8em;
  border-radius: 10px;
}

.col-centrada{
  float: none;
  margin: 0 auto;
}

/*Input de busqueda en mapa*/

#pac-input{
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  width: 63%;
  height: 3em;
  margin-left: 18.5%;
  margin-top: 2%;
  border-radius: 8px;
  border: none;
}
.fa-search{
  color: sandybrown;
  margin-left: 2px;
}

/*input de busqueda por nombre*/
.input-group{
  width: 60%;
  margin-left: 20%;
}

#title3{
  text-align: center;
  margin: 1em;
  color: sandybrown;
  font-weight: 300;
  font-size: 2em;
}





